# Игнорировать скомпилированные файлы
*.class

# Игнорировать файлы сборки Maven
target/
*.jar

# Игнорировать Docker-образы
*.tar

# Игнорировать логи
*.log

# Игнорировать конфигурации IDE
.idea/
*.iml